<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A.C.E.</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

   <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
  <header class="hero">
    <h1><span class="fr">Art</span>.<span class="sd">Collaborate</span>.<span>Expand</span></h1>
  </header>
  <nav>
    <a href="/"><i class='bx bx-home-alt'></i> Home</a>
    <a href="/portfolio"><i class='bx bx-file-find' ></i> Create Portfolio</a>
    <a href="/artwork"><i class='bx bxs-paint' ></i> Create Artwork</a>
    {{#if loggedIn}}
    <button id="logout">Logout</button>
    {{else}}
    <a href="/login"><i class='bx bx-log-in' ></i> Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2> <span class="fr">A</span><br><span class="sd"><br>C<br></span><br><span>E</span></h2>
    </aside>
    <div class="portfolio">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>